// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

// Vars

:root {
    --bg: #0E0F14;
    --text: #E8E6E3;
    --secondary: #A8ADB6;
    --accent: #C9A44D;
}
